*.iml
*.ipr
*.iws
.idea/
nbactions.xml
nb-configuration.xml

*.pydevproject
.project
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

atlassian-ide-plugin.xml
Thumbs.db


gallery/nbproject
gallery/img
gallery/.idea
gallery/tools
gallery/php_mvc-master